.container {
  width: 100%;
  padding: 8rem 0;
  background-color: #FAF9F6;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.customScrollText {
  color: #1a1a1a;
  font-family: var(--font-geist-sans), sans-serif;
  line-height: 1.2;
   font-size: 6rem;
   color: #8B6F5C;
  font-weight: 300;
  letter-spacing: 0.04em;
}
